# Files
wp-config.php

# Directories
## Composer
vendor/

## PHPStorm
.idea/

# WordPress
wp-content/uploads/

# Plugins
wp-content/plugins/mdd-wedding-timer/node_modules/
wp-content/plugins/mdd-wedding-timer/.env
